<tr>
  <td class="align-middle"><%= badge.name %></td>
  <td class="align-middle"><%= image_tag badge.image_url %></td>
  <td class="align-middle"><%= badge.criterion %></td>
  <td class="align-middle"><%= badge.param %></td>

</tr>
