<tr>
  <td><%= link_to truncated(gist.question.body), admin_question_path(gist.question) %></td>
  <td><%= link_to gist_id(gist.url), gist.url, target: "_blank" %></td>
  <td><%= gist.user.email %></td>
  <td><%= l(gist.created_at, format: :long) %></td>
</tr>
