<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p><%= total_questions_helper %></p>

<p>
  <%= t('.correct_answers', score: @test_passage.score) %>
</p>

<%= result_message(@test_passage.result_percentage) %>
