<%= flash_message %>

<h1>Tests list</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Questions</th>
    <th>Level</th>
    <th>Category</th>
    <% if logged_in? %>
      <th colspan="2">Actions</th>
    <% end %>
  </tr>

  <%= render @tests %>
</table>
<hr>
<% if logged_in? %>
  <p>
    <%= link_to 'Create new test', new_test_path %>
  </p>
<% end %>
