<header class="header">
  <p class="account">
    <% if logged_in? %>
      Welcome, guru <strong><%= current_user.name %></strong>! |
      <%= link_to 'Logout', logout_path, method: :delete %>
    <% else %>
      Welcome to TestGuru!
    <% end %>
  </p>
</header>
